*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-----Botones----*/
button{
    position: relative;
    left: 43%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid;
    
}
.boton2{
    padding:  15px 30px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 25px;
    background: none;
    border: 2px solid rgb(0, 0, 0); 
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 45%;
 }
/*--------Titulos y textos------*/
.titulo{
    font-family:Helvetica, sans-serif ;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
p{
    font-family:'Merriweather', serif; ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/*------- Portada------*/

header nav{
    margin-bottom: 10px;
    background-color: #cac7c7;
    
   }
    header nav ul{
        list-style: none;
        overflow: hidden;

    }

    header nav ul li{
        float:left;
    }
    header nav ul li a{
        display: block;
        padding: 20px;
        text-decoration: none;
    }
    header nav ul li a:hover{
        background: #9d9e9d;
    }
    header nav.logobara{
        max-width: 10px;
        max-height: 10px;
    }
    .menu-fixed{
        position: fixed;
        z-index:1000px ;
        top:0;
        width: 100%;
        
    }
    .slider{
        width: 100%;
        margin: auto;
        overflow: hidden;
        position: relative;
    
    }
    
    .slider ul{
        display: flex;
        padding: 0;
        width: 200%;
        animation: cambio 14s infinite alternate;
        animation-timing-function: ease-in;
    
    }
    
    .slider li{
        width: 100%;
        list-style: none;
    }
    .slider img{
        width: 100%;
    }
    
    @keyframes cambio {
        0% {margin-left: 0;}
        50% {margin-left: 0;}
    
        55%{ margin-left: -100%;}
        100% {margin-left: -100%;}
    }
    

/*----- Movimiento B------*/
.MovimientoB{
    padding: 100px;
}

.MovimientoB .mapa{
    max-width: 900px;
    max-height: 900px;
    margin-top: -200px;
    margin-left: 200px;
}

.MovimientoB .Contador{
    margin-top: 150px;
}

/*------Beneficios-----*/
.Beneficios{
    padding: 100px;
    background-color: #ed6e27;
}

.Beneficios .logoEmpresaB{
    max-width: 350px;
    max-height: 350px;

}

.Beneficios .textoBeneficios{
    padding: 20px;
    background-color: #ed6e27;
    width: 500px;
    margin-left: 400px;
    margin-top: -300px;
}
/*------Comprenda su Impacto----*/
.impacto{
    padding: 100px;
    background-color: white;
}

.impacto .imagen2{
    max-width: 500px;
    max-height: 500px;
}

.impacto .textoImpacto{
    padding: 40px;
    width: 500px;
    margin-left: 600px;
    margin-top: -200px;
}
/*-----Empresas BIC-------*/

.Bic{
    padding: 100px;
    background: url(imagenes/bic.png);
background-repeat: no-repeat;
background-size: contain;
background-color: #9d9e9d;}

.Bic .TextoBIC{
    padding: 60px;
    margin-top: 350px;
    color: black;
}

.Bic .titulo{
    margin-top: -50px;
}




/*--------Noticias-----*/

.eventos{
    background-color:rgb(219, 219, 219);
    padding: 100px;
    
    }
    .noticia1{
        width: 300px;
        margin: 5px 50px;
        padding: 20px;
        font-size: italic;  
        background-color:#cac7c7;
        color: #000 ;
    }
    
    .noticia2{
        width: 400px;
        margin: 10px 500px;
        padding: 20px;
        font-size: italic;  
        background-color: #cac7c7;
        color: #000 ;
    }
    
    .noticia3{
        width: 700px;
        margin: 10px 300px;
        padding: 20px;
        font-size: italic;  
        background-color: #cac7c7;
        color: #000 ;
    }
    

/*--------Contactos----*/

.contacto{
    padding: 100px;
    background-color: #cac7c7;
}
 .contacto .formulario{
    width: 450px;
    height: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 80px, 80px;
   
    margin-top: 20px;
    border-radius: 7px;
}

.contacto .formulario .controls{
    width: 90%;
    margin-bottom: 10px;
    margin-left: 20px;
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 20px;
}
.textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    
}
.contacto .formulario .boton{
   margin-left: 43%;
   border: 2px solid;
   padding: 10px 20px;
   border-radius: 15px;
   color: #000000;
   cursor: pointer;
}